################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/16-06-2020 ASP Fundamentals/ASPDemo/MyFirstASspDemo2/.vs/MyFirstASspDemo2/v16/Server/sqlite3/db.lock
/17-06-2020 Navigation and Validation/Navigation/NavDemo/NavProj/.vs/NavProj/v16/Server/sqlite3/db.lock
