<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script>
        function btnGetStudents() {
            alert(1);

            var url = 'http://localhost:58672/api/student';
            fetch(url,
                {
                    method: 'GET', // 'GET', 'PUT', 'DELETE', etc.
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    }),
                }) // Call the fetch function passing the url of the API as a parameter
                .then((resp) => resp.json()) // Transform the data into json
                .then(function (data) {
                    alert(data);
                })
                .catch(function (err) {
                    alert(err);
                });
        }
    </script>
</head>
<body>
    <button onclick="btnGetStudents()">Get Students</button>
</body>
</html>